/* assets/custom-styling.css */

/* Logo resizing */
.navbar-brand img {
  width: 220px !important;
  height: auto;
}

/* Hide the login button */
a[href="/login/"] {
  display: none !important;
}

/* Change navbar background */
.navbar {
  background-color: #333 !important;
}

/* Tweak link colors in the header */
.navbar-nav .nav-link {
  color: #fafafa !important;
}
